<div class="center-form">
  <%= devise_error_messages! %>
  <form role="form" action="/users" method="post">
    <h2>Edit Profile</h2>
    <input name="_method" type="hidden" value="put">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="text" class="form-control" placeholder="Name" name="user[user_name]" value="<%= @user.user_name %>">
    <input type="email" class="form-control" placeholder="Email" name="user[email]" value="<%= @user.email %>">
    <input type="password" class="form-control" placeholder="New Password" name="user[password]">
    <input type="password" class="form-control" placeholder="New Password Confirmation" name="user[password_confirmation]">
    <input type="password" class="form-control" placeholder="Current Password" name="user[current_password]" required="true">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Edit Profile</button>
  </form>
</div>