<form class="center-form" role="form" action="/users/sign_in" method="post">
	<h2>Sign in</h2>
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="hidden" name="user[remember_me]" value="0">
	<input type="email" class="form-control" placeholder="Email" required="true" name="user[email]">
	<input type="password" class="form-control" placeholder="Password" required="true" name="user[password]">
	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>