body {
  padding-top: 70px;
}

#game{
  background: #eeeeee;
  border-radius: 10px;
  margin-bottom:15px;
  position: relative;
}
.game-container{
  width: 1000px;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
.no-selection {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}
#overlay{
  position: absolute;
  top:180px;
  left:50px;
  display:none;
}
.winner{
  font-size: 7em;
}

.center-form{
  margin: 0 auto;
  width: 300px;
}

.center-form button{
  margin-top: 15px;
}