<div id="game" class="container">
  <canvas id="canvas" width="1000" height="500"></canvas>
</div>
<script src="/javascripts/createjs-2013.12.12.min.js"></script>
<script src="/javascripts/tanagram.js"></script>